<header>
   <header style="background-color: #f0f0f0; padding: 20px; text-align: center;">
    <h1 style="color: #00698f; font-size: 36px; margin-bottom: 10px;">Welcome to Our Restaurant</h1>
    <nav style="display: flex; justify-content: space-between; width: 300px; margin: 0 auto;">
        <a href="/pages/home" style="text-decoration: none; color: #00698f; margin-right: 20px;">Home</a>
        <a href="/pages/menu" style="text-decoration: none; color: #00698f; margin-right: 20px;">Menu</a>
        <a href="/pages/about" style="text-decoration: none; color: #00698f; margin-right: 20px;">About</a>
        <a href="/pages/contact" style="text-decoration: none; color: #00698f;">Contact Us</a>
    </nav>
</header>
</header>

{% block content %}
{% endblock content %}
