<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .tagline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .restaurant-image {
    width: 80%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }
</style>
<body>
  <div class="container">
    {% extends 'base.html' %}
    {% block content %}
    <p class="tagline">Where flavors come alive!</p>
    <img class="restaurant-image" src="https://img.freepik.com/free-photo/photorealistic-wedding-venue-with-intricate-decor-ornaments_23-2151481522.jpg?t=st=1730210705~exp=1730214305~hmac=fd25318e3c71a4c23382648d4e8857fac6b7cfd83022de4ccbf7d895adb14942&w=1060" alt="Restaurant Image">
    <p class="description">Our restaurant offers a wide variety of delicious dishes, from classic favorites to innovative creations. Our chefs use only the freshest ingredients to craft meals that are both nourishing and delicious.</p>
    {% endblock content %}
  </div>
</body>
</html>