<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Indian Menu</h1>
<ul>
    <li>1. Chicken Tikka Masala</li>
    <li>2. Palak Paneer</li>
    <li>3. Samosas</li>
    <li>4. Tandoori Chicken</li>
    <li>5. Naan Bread</li>
    <li>6. Biryani</li>
    <li>7. Mattar Paneer</li>
    <li>8. Chicken Korma</li>
    <li>9. Saag Aloo</li>
    <li>10. Rajma Masala</li>
    <li>11. Garlic Naan</li>
    <li>12. Chicken Tandoori</li>
    <li>13. Vegetable Korma</li>
    <li>14. Dal Makhani</li>
    <li>15. Chicken Tikka</li>
    <li>16. Lamb Rogan Josh</li>
    <li>17. Gobhi Aloo</li>
    <li>18. Paneer Tikka</li>
    <li>19. Chicken Rezala</li>
    <li>20. Gulab Jamun</li>
</ul>
{% endblock content %}
</body>
</html>